#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.app-container .box-container {
  display: grid;
  place-items: center;
  border: 1px solid #00ffe1;
  padding: 1rem;
  border-radius: 1rem;
  width: 200px;
}